/01_course_paper/
/02_course_paper/
/04_course_paper/
/05_course_paper/
/06_course_paper/
/07_course_paper/
/08_course_paper/
/09_course_paper/
/to_do_it/
//initial_data/
//lesson-1/
//lesson-2/
//lesson-3/
*.pdf
*.md
*.mp4
*.txt
!CMakeLists.txt